<div id="first">
<%= params[:ask] %>
<p>-You</p>
</div>

<div id="second">
<%= @coach %>
<p>-Coach</p>
</div>

<div id="link">
<%= link_to "Ask another question to your lovely Coach", ask_path, id:"asking" %>
</div>
