<div class="input-group">
  <div class="form-outline" action="answer" method="get">
    <input type="text" name="ask" class="form-control">
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i> Ask !</button>
</div>
